body {
    text-align: center;

    font-family: Arial, sans-serif;
    margin: 30px;
    
}

input[type="text"] {
    width: 110px;
    padding: 4px;
    margin-bottom: 10px;
}
input[readonly] {
    background-color: white;
}
label {
    display: inline-block;
    width: 110px;
    margin-bottom: 10px;
}
.mandatory {
    color: red;
    font-size: 14px;
    margin-left: 10px;
    font-style: italic;
    display: inline-block; /* Ensure it aligns properly with the input field */
}


button {
    padding: 8px 12px;
    margin-right: 10px;
    cursor: pointer;
}